@CHARSET "UTF-8";

body, html {
	background-color: #657782;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}

.row:after {
    content: "";
    clear: both;
    display: flex;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.main-content {
	width: 80%;
	margin: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
	display: flex;
	background-color: #5A5A5A;
}

header h1 {
	display: flex;
	justify-content: center;
	margin: 15px auto 10px;
	font-size: 3vw;
}

header h1 a {
	color: #D4B16F;
	text-decoration: none;
}

nav {
	display: flex !important;
	flex-direction: column;
	background-color: #9A9A9A;
}

article {
	display: flex !important;
	min-height: 85vh;
}

section {
	display: flex !important;
	flex-direction: column;
	background-color: #BBBBBB;
}

footer {
	display: flex !important;
	justify-content: center;
	background-color: #5A5A5A;
}

footer span {
	margin: 15px 0;
	color: #D4B16F;
	font-size: 1.25vw;
}

.language-switch {
	display: flex;
	justify-content: center;
	margin: 0 auto 10px;
}

.language-switch a {
	color: ivory;
	font-size: 1.5vw;
	text-decoration: none;
}

.language-switch span {
	color: ivory;
	font-size: 1.5vw;
	margin: 0 15px;
}

.search-filter {
	display: flex;
	flex-direction: column;
	margin-top: 2%;
	padding: 10px;
}

.search-filter-error-messages {
	display: flex;
	justify-content: center;
	margin-bottom: 1%;
}

.search-filter-error-messages span{
	display: none;
	color: darkred;
	font-size: 1.25vw;
}

#search-filter-form {
	display: flex;
	flex-direction: row;
}

.author-filter {
	display: flex;
	position: relative;
	flex-direction: column;
}

.tag-filter {
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 0 2%;
}

.author-filter span {
	background-color: #5A5A5A;
	text-align: center;
	padding: 2px 0;
	color: #FFFFF0;
	font-size: 1.2vw;
}

.author-filter span:hover ~ ul {
	max-height: 10000px;
}

.author-filter ul:hover {
	max-height: 10000px;
}

.author-filter ul {
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: #7D7D7D;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s;
	width: 100%;
}

.local-filter-reset {
	padding: 0 !important;
}

.local-filter-reset input {
	width: 100%;
}

.author-filter ul li {
	display:list-item;
	position: relative;
	list-style: none;
	color: #2D2D2D;
	padding: 0 2px;
}

.author-filter ul li span {
	background-color: initial;
	font-size: 1.25vw;
}

.author-filter ul li input {
	font-size: 1.25vw;
}

.tag-filter span {
	background-color: #5A5A5A;
	text-align: center;
	padding: 2px 0;
	color: #FFFFF0;
	font-size: 1.2vw;
}

.tag-filter  span:hover ~ ul {
	max-height: 10000px;
}

.tag-filter  ul:hover {
	max-height: 10000px;
}

.tag-filter  ul {
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: #7D7D7D;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s;
	width: 100%;
}

.tag-filter ul li {
	display:list-item;
	position: relative;
	list-style: none;
	color: #2D2D2D;
	padding: 0 2px;
}

.tag-filter ul li span {
	background-color: initial;
	font-size: 1.25vw;
}

.tag-filter ul li input {
	font-size: 1.25vw;
}

.filter-button {
	display: flex;
	justify-content: center;
	font-size: 1.2vw;
}

.filter-button.reset{
	margin-left: 1%;
}

.empty-search-result-message {
	text-align: center;
    margin-top: 5%;
}

.news-list {
	display: flex;
	flex-direction: column;
	padding: 10px;
	flex-grow: 1;
}

.news-item {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #8CA0B3;
}

.news-item-header {
	display: flex;
}

.news-item-header span{
	color: #FFFFFF;
	font-size: 1.25vw;
}

.news-author {
	text-align: center;
}

.news-creation-date {
	text-align: end;
}

.news-item-content {
	display: flex;
	padding: 20px 0;
}

.news-item-content span {
	font-size: 1.25vw;
}

.news-item-footer {
	display: flex;
	flex-direction: row-reverse;
}

.news-item-footer a {
	text-decoration: underline;
	margin-left: 3%;
	color: #000000;
	font-size: 1.25vw;
}

.news-item-footer span {
	color: #FFC902;
	font-size: 1.25vw;
}

.news-item-delete-check{
	align-self: center;
	margin-left: 1%;
}

.news-item-tagslist {
	margin-right: 2%;
	display: flex;
}

.news-item-tagslist span{
	color: #D0D0D0;
	font-size: 1.25vw;
}

.news-pagination {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px;
	background-color: #7D7D7D;
}

.news-pagination a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 8px 2px;
	margin: 0 5px;
	font-size: 1.25vw;
}

.news-pagination  form {
	margin-left: 1%;
}

.news-pagination  form input {
	font-size: 1.25vw;
}

.show-news {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.show-news-navigation-buttons {
	display: flex;
	justify-content: space-between;
}

.show-news-navigation-buttons-prev {
	display: flex;
	justify-content: flex-start;
}

.show-news-navigation-buttons-prev a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 8px 2px;
	margin: 0;
	font-size: 1.25vw;
}

.show-news-navigation-buttons-back {
	display: flex;
	justify-content: center;
}

.show-news-navigation-buttons-back a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 8px 2px;
	margin: 0;
	font-size: 1.25vw;
}

.show-news-navigation-buttons-next {
	display: flex;
	justify-content: flex-end;
}

.show-news-navigation-buttons-next a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 8px 2px;
	margin: 0;
	font-size: 1.25vw;
}

.show-news-body {
	display: flex;
	flex-direction: column;
	margin: 2% 0;
}

.show-news-title {
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}

.show-news-title span {
	color: #fff;
	font-weight: bold;
	font-size: 1.4vw;
}

.show-news-author-date {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2%;
	padding: 0 5%;
}

.show-news-author-date span {
	color: #fff;
	text-decoration: underline;
	font-size: 1.25vw;
}

.show-news-content {
	display: flex;
	padding: 0 5%;
}

.show-news-content span{
	font-size: 1.25vw;
	text-align: justify;
}

.show-news-comments {
	display: flex;
	flex-direction: column;
	padding: 0 5%;
	margin-bottom: 2%;
}

.show-news-comments form {
	display: flex;
	flex-direction: column;
	margin-bottom: 1%;
}

.show-news-comments-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.show-news-comments-header span {
	padding: 3px 0;
	font-size: 1.25vw;
	background-color: #C5AB79;
}

.show-news-comments-header input {
	font-size: 1.25vw;
}

.show-news-comments-text {
	padding-top: 1%;
	background-color: #8B96A0;
	font-size: 1.25vw;
}

.show-news-comments-add-comment {
	display: flex;
	padding: 0 5%;
}

.show-news-comments-add-comment-error {
	display: flex;
	justify-content: center;
	margin: 1% 0;
}

.show-news-comments-add-comment-error span {
	display: none;
	text-align: center;
	font-size: 1.25vw;
	color: #E20000;
}

.show-news-comments-add-comment form{
	display: flex;
	flex-direction: column;
}

.show-news-comments-add-comment form textarea {
	margin-bottom: 1%;
	font-size: 1.25vw;
}

.show-news-comments-add-comment form input {
	margin: auto;
	font-size: 1.25vw;
}

.add-comment-error-style {
	border-color: red;
}

.error-message {
	display: flex;
	flex-direction: column;
	padding: 0 25%;
}

.error-message h1 {
	font-size: 12vw;
	text-align: center;
	color: darkred;
    margin: 20% 0 5% 0;
}

.error-message span {
	font-size: 2vw;
	text-align: center;
    margin-bottom: 4%;
}

.error-message a {
	text-align: center;
}

.error-message img {
	width: 10%;
	height: 10%;
}