@CHARSET "UTF-8";

body, html {
	background-color: #657782;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}

.row:after {
    content: "";
    clear: both;
    display: flex;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.main-content {
	width: 80%;
	margin: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
	display: flex;
	background-color: #5A5A5A;
}

header h1 {
	display: flex;
	justify-content: center;
	margin: 15px auto 10px;
	font-size: 3vw;
}

header h1 a {
	color: #D4B16F;
	text-decoration: none;
}

nav {
	display: flex !important;
	flex-direction: column;
	background-color: #9A9A9A;
}

article {
	display: flex !important;
	min-height: 85vh;
}

section {
	display: flex !important;
	flex-direction: column;
	background-color: #BBBBBB;
}

footer {
	display: flex !important;
	justify-content: center;
	background-color: #5A5A5A;
}

footer span {
	margin: 15px 0;
	color: #D4B16F;
	font-size: 1.25vw;
}

.language-switch {
	display: flex;
	justify-content: center;
	margin: 0 auto 10px;
}

.language-switch a {
	color: ivory;
	font-size: 1.5vw;
	text-decoration: none;
}

.language-switch span {
	color: ivory;
	font-size: 1.5vw;
	margin: 0 15px;
}

.active {
	background-color: #D4B16F !important;
}

.menu-title {
	display: flex;
	justify-content: center;
	background-color: #5A5A5A;
	margin: 10px 0;
}

.menu-title span {
	padding: 15px 0;
	color: ivory;
	font-size: 3vw;
}

.menu-item-button-wrap {
	display: flex;
	justify-content: center;
	margin: 5px 0;
	padding: 10px 20px;
	background-color: #7D7D7D;
}

.menu-item-button-wrap a {
	text-decoration: none;
	text-align: center;
	border-style: solid;
	border-color: #F7F7F7;
	border-width: 1px 0;
	padding: 5px 0;
	flex-grow: 1;
}

.menu-item-button-wrap a  span{
	color: #2D2D2D;
	font-size: 1.2vw;
}

.logout-user-wrap {
	display: flex;
	justify-content: center;
	margin: 30% 0 5px;
	background-color: #5A5A5A;
}

.logout-user-wrap span{
	font-size: 1.4vw;
	color: #F1F1F1;
}

.logout-link {
	display: flex;
	padding: 10px 20px;
	background-color: #7D7D7D;
}

.logout-link form {
	display: flex;
	justify-content: center;
    flex-grow: 1;
}

.logout-link form span {
	text-align: center;
	border-style: solid;
	border-color: #F7F7F7;
	border-width: 1px 0;
	padding: 5px 0;
	color: #2D2D2D;
	font-size: 1.2vw;
	cursor: pointer;
	flex-grow: 1;
}

.search-filter {
	display: flex;
	flex-direction: column;
	margin-top: 2%;
	padding: 10px;
}

.search-filter-error-messages {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 1%;
}

.search-filter-error-messages span{
	display: none;
	color: darkred;
	font-size: 1.25vw;
}

#search-filter-form {
	display: flex;
	flex-direction: row;
}

.author-filter {
	display: flex;
	position: relative;
	flex-direction: column;
}

.tag-filter {
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 0 2%;
}

.author-filter span {
	background-color: #5A5A5A;
	text-align: center;
	padding: 2px 0;
	color: #FFFFF0;
	font-size: 1.2vw;
}

.author-filter span:hover ~ ul {
	max-height: 10000px;
}

.author-filter ul:hover {
	max-height: 10000px;
}

.author-filter ul {
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: #7D7D7D;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s;
	width: 100%;
}

.local-filter-reset {
	padding: 0 !important;
}

.local-filter-reset input {
	width: 100%;
}

.author-filter ul li {
	display:list-item;
	position: relative;
	list-style: none;
	color: #2D2D2D;
	padding: 0 2px;
}

.author-filter ul li input,label {
	font-size: 1.25vw;
}

.tag-filter span {
	background-color: #5A5A5A;
	text-align: center;
	padding: 2px 0;
	color: #FFFFF0;
	font-size: 1.2vw;
}

.tag-filter  span:hover ~ ul {
	max-height: 10000px;
}

.tag-filter  ul:hover {
	max-height: 10000px;
}

.tag-filter  ul {
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: #7D7D7D;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s;
	width: 100%;
}

.tag-filter ul li {
	display:list-item;
	position: relative;
	list-style: none;
	color: #2D2D2D;
	padding: 0 2px;
}

.tag-filter ul li input,label {
	font-size: 1.25vw;
}

.filter-button {
	display: flex;
	justify-content: center;
	font-size: 1.2vw;
}

.filter-button.reset{
	margin: 0 15% 0 1%;
}

.empty-search-result-message {
	text-align: center;
    margin-top: 10%;
}

.news-list {
	display: flex;
	flex-direction: column;
	padding: 10px;
	flex-grow: 1;
}

.news-item {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #8CA0B3;
}

.news-item-header {
	display: flex;
}

.news-item-header a{
	color: #FFFFFF;
	font-size: 1.25vw;
}

.news-author {
	text-align: center;
	color: #FFFFFF;
	font-size: 1.25vw;
}

.news-creation-date {
	text-align: end;
	color: #FFFFFF;
	font-size: 1.25vw;
}

.news-item-content {
	display: flex;
	padding: 20px 0;
}

.news-item-content span {
	font-size: 1.25vw;
}

.news-item-footer {
	display: flex;
	flex-direction: row-reverse;
}

.news-item-footer a {
	text-decoration: underline;
	margin-left: 3%;
	color: #000000;
	font-size: 1.25vw;
}

.news-item-footer span {
	color: #FFC902;
	font-size: 1.25vw;
}

.news-item-delete-check{
	align-self: center;
	margin-left: 1%;
}

.news-item-tagslist {
	margin-right: 2%;
	display: flex;
}

.news-item-tagslist span{
	color: #D0D0D0;
	font-size: 1.25vw;
}

.news-pagination {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px;
	background-color: #7D7D7D;
}

.news-pagination  a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 8px 2px;
	margin: 0 5px;
	font-size: 1.25vw;
}

.edit-news-form {
	display: flex;
	padding: 20px 10% 20px 5%;
	flex-direction: column;
}

.edit-news-form div input, textarea {
	resize: none;
	font-size: 1.25vw;
}

.edit-news-form div span {
	text-align: center;
	font-size: 1.25vw;
}

.edit-news-form div {
	display: flex;
}

.author-tags-filter {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.edit-news-author {
	display: flex;
	margin-right: 2%;
}

.edit-news-author span {
	padding: 0 40px;
}

.edit-news-tags {
	display: flex;
	margin: 0 !important;
}

.edit-news-tags span {
	padding: 0 40px;
}

.edit-news-error-message {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px;
}

#edit-news-error-message-client-side {
	display: none;
}

#edit-news-error-date-client-side {
	display: none;
}

.edit-news-error-message span {
	font-size: 1.25vw;
	color: darkred;
}

.edit-news-error-class {
	border-color: red;
	width: 83.33%;
}

.edit-news-author-error-message {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px;
	color: darkred;
}

.edit-news-author-error-message span {
	font-size: 1.25vw;
	margin-right: 21%;
}

.edit-news-input {
	align-items: center;
	margin-bottom: 4%;
}

.edit-news-input textarea {
	font-size: 1.25vw;
}

.edit-news-submit-button {
	margin-top: 5%;
	display: flex;
	justify-content: flex-end;
}

.edit-news-submit-button a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 15px 2px;
	margin-right: 2%;
	font-size: 1.25vw;
}

.edit-news-submit-button input {
	padding: 0 15px;
	font-size: 1.25vw;
}

.edit-authors {
	display: flex;
	flex-direction: column;
	padding: 25px 20%;
}

.edit-authors span {
	text-align: center;
	padding: 2px 0;
	color: ivory;
	font-size: 1.25vw;
}

.edit-authors-title {
	background-color: #5A5A5A;
}

.edit-authors-add-form {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 2% 0;
	background-color: #D4B16F;
}

.edit-authors-error-message {
	display: flex;
	margin-bottom: 2%;
}

.edit-authors-error-message form{
	display: flex;
	justify-content: center;
	background-color: darkred;
}

.edit-authors-error-message form span{
	margin: 5px 0;
	font-size: 1.25vw;
	color: cornsilk;
}

#edit-authors-error-message-client-side {
	display: none;
}

.edit-authors-add-form  input {
	text-align: center;
}

.edit-authors-add-form  input:first-of-type {
	margin-bottom: 1%;
	font-size: 1.25vw;
}

.edit-authors-add-form  input:last-of-type {
    margin: 0 auto;
	font-size: 1.25vw;
}

.edit-authors-author {
	display: flex;
	margin: 2% 0;
	padding: 10px;
	background-color: #7D7D7D;
}

.edit-authors-author form {
	display: flex;
	flex-direction: column;
}

.edit-authors-author form span {
	background-color: #7D7D7D;
	color: #000;
	font-size: 1.25vw;
}

.edit-authors-author-name {
	text-align: center;
	margin-bottom: 1%;
	font-size: 1.25vw;
}

.edit-authors-author a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 15px 2px;
	margin: 0 auto;
	font-size: 1.25vw;
}

.edit-authors-author-edit-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.edit-authors-author-edit-buttons input {
	font-size: 1.25vw;
}

.edit-authors-author-edit-buttons input:last-of-type {
	margin: 0 5px;
}

.edit-authors-author-edit-buttons a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 8px 2px;
	margin: 0;
	font-size: 1.25vw;
}

.edit-tags {
	display: flex;
	flex-direction: column;
	padding: 25px 20%;
}

.edit-tags span {
	text-align: center;
	padding: 2px 0;
	color: ivory;
	font-size: 1.25vw;
}

.edit-tags-title {
	background-color: #5A5A5A;
}

.edit-tags-add-form {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 2% 0;
	background-color: #D4B16F;
}

.edit-tags-add-form  input {
	text-align: center;
}

.edit-tags-add-form  input:first-child {
	margin-bottom: 1%;
	font-size: 1.25vw;
}

.edit-tags-add-form  input:last-of-type {
    margin: 0 auto;
	font-size: 1.25vw;
}

.edit-tags-error-message {
	display: flex;
	margin-bottom: 2%;
}

.edit-tags-error-message form{
	display: flex;
	justify-content: center;
	background-color: darkred;
}

.edit-tags-error-message form span{
	margin: 5px 0;
	font-size: 1.25vw;
	color: cornsilk;
}

#edit-tags-error-message-client-side {
	display: none;
}

.edit-tags-tag {
	display: flex;
	margin: 2% 0;
	padding: 10px;
	background-color: #7D7D7D;
}

.edit-tags-tag form {
	display: flex;
	flex-direction: column;
}

.edit-tags-tag form span {
	background-color: #7D7D7D;
	color: #000;
	font-size: 1.25vw;
}

.edit-tags-tag-name {
	text-align: center;
	margin-bottom: 1%;
	font-size: 1.25vw;
}

.edit-tags-tag a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 15px 2px;
	margin: 0 auto;
	font-size: 1.25vw;
}

.edit-tags-tag-edit-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.edit-tags-tag-edit-buttons input {
	font-size: 1.25vw;
}

.edit-tags-tag-edit-buttons input:last-of-type {
	margin: 0 5px;
}

.edit-tags-tag-edit-buttons a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 8px 2px;
	margin: 0;
	font-size: 1.25vw;
}

.show-news {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.show-news-navigation-buttons {
	display: flex;
	justify-content: space-between;
}

.show-news-navigation-buttons a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 8px 2px;
	font-size: 1.2vw;
}

.show-news-navigation-buttons-prev {
	display: flex;
	justify-content: flex-start;
}

.show-news-navigation-buttons-back {
	display: flex;
	justify-content: center;
}

.show-news-navigation-buttons-next {
	display: flex;
	justify-content: flex-end;
}

.show-news-body {
	display: flex;
	flex-direction: column;
	margin: 2% 0;
}

.show-news-title {
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}

.show-news-title span {
	color: #fff;
	font-weight: bold;
	font-size: 1.4vw;
}

.show-news-author-date {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2%;
	padding: 0 5%;
}

.show-news-author-date span {
	color: #fff;
	text-decoration: underline;
	font-size: 1.25vw;
}

.show-news-content {
	display: flex;
	padding: 0 5%;
}

.show-news-content span{
	font-size: 1.25vw;
	text-align: justify;
}

.show-news-comments {
	display: flex;
	flex-direction: column;
	padding: 0 5%;
	margin-bottom: 2%;
}

.show-news-comments form {
	display: flex;
	flex-direction: column;
	margin-bottom: 1%;
}

.show-news-comments-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.show-news-comments-header span {
	padding: 3px 0;
	font-size: 1.25vw;
	background-color: #C5AB79;
}

.show-news-comments-header input {
	font-size: 1.25vw;
}

.show-news-comments-text {
	padding-top: 1%;
	background-color: #8B96A0;
	font-size: 1.25vw;
}

.show-news-comments-add-comment {
	display: flex;
	padding: 0 5%;
}

.show-news-comments-add-comment-error {
	display: flex;
	justify-content: flex-start;
	margin: 1% 0;
}

.show-news-comments-add-comment-error span {
	text-align: center;
	font-size: 1.25vw;
	color: #E20000;
}

.show-news-comments-add-comment form{
	display: flex;
	flex-direction: column;
}

.show-news-comments-add-comment form textarea {
	margin-bottom: 1%;
	font-size: 1.25vw;
}

.show-news-comments-add-comment form input {
	margin: auto;
	font-size: 1.25vw;
}

.add-comment-error-style {
	border-color: red;
}

#add-comment-error-message {
	display: none;
}

.login-page {
	display: flex;
	padding: 0 35%;
}

.login-page-form {
	display: flex;
	flex-direction: column;
	margin-top: 70%;
}

.login-page-form span{
	color: red;
	text-align: center;
	font-size: 1.25vw;
}

.login-page-form form{
	display: flex;
	flex-direction: column;
	margin-top: 2%;
}

#login-page-form-client-side-error {
	display: none;
}

.login-page-form form span {
	color: #000;
	text-align: center;
	font-size: 1.25vw;
	margin-bottom: 2%;
}

.login-page-form form input {
	margin-bottom: 2%;
	font-size: 1.25vw;
}

.login-page-form form input[type=submit] {
	margin: auto;
}

.error-message {
	display: flex;
	flex-direction: column;
	padding: 0 25%;
}

.error-message h1 {
	font-size: 12vw;
	text-align: center;
	color: darkred;
    margin: 20% 0 5% 0;
}

.error-message span {
	font-size: 2vw;
	text-align: center;
    margin-bottom: 4%;
}

.error-message a {
	text-align: center;
}

.error-message img {
	width: 10%;
	height: 10%;
}

.modified-news {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.modified-news-navigation-buttons {
	display: flex;
	justify-content: center;
}

.modified-news-navigation-buttons a{
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 4px 8px 2px;
	margin: 0;
	font-size: 1.25vw;
}

.modified-news-body {
	display: flex;
	flex-direction: column;
	margin: 2% 0;
}

.modified-news-title {
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}

.modified-news-title span {
	color: #fff;
	font-weight: bold;
	font-size: 1.4vw;
}

.modified-news-author-date {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2%;
	padding: 0 5%;
}

.modified-news-author-date span {
	color: #fff;
	text-decoration: underline;
	font-size: 1.25vw;
}

.modified-news-content {
	display: flex;
	padding: 0 5%;
}

.modified-news-content span{
	font-size: 1.25vw;
	text-align: justify;
}

.modified-news-comments {
	display: flex;
	flex-direction: column;
	padding: 0 5%;
	margin-bottom: 2%;
}

.modified-news-comments form {
	display: flex;
	flex-direction: column;
	margin-bottom: 1%;
}

.modified-news-comments-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.modified-news-comments-header span {
	padding: 3px 0;
	font-size: 1.25vw;
	background-color: #C5AB79;
}

.modified-news-comments-header input {
	font-size: 1.25vw;
}

.modified-news-comments-text {
	padding-top: 1%;
	background-color: #8B96A0;
	font-size: 1.25vw;
}

.modified-news-comments-add-comment {
	display: flex;
	padding: 0 5%;
}

.modified-news-comments-add-comment-error {
	display: flex;
	justify-content: center;
}

.modified-news-comments-add-comment-error span {
	text-align: center;
	font-size: 1.25vw;
}

.modified-news-comments-add-comment form{
	display: flex;
	flex-direction: column;
}

.modified-news-comments-add-comment form textarea {
	margin-bottom: 1%;
	font-size: 1.25vw;
}

.modified-news-comments-add-comment form input {
	margin: auto;
	font-size: 1.25vw;
}

.modified-news-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0 5%;
}

.modified-news-footer span{
	color: #D0D0D0;
	font-size: 1.25vw;
	background-color: #3A3A3A;
}
